@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src: url("../../assets/fonts/#{$name}.ttf");
  }
}

@mixin pl-pr($pl, $pr) {
  padding-left: $pl;
  padding-right: $pr;
}
@mixin pt-pb($pt, $pb) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin ml-mr($ml, $mr) {
  margin-left: $ml;
  margin-right: $mr;
}

@mixin mt-mb($mt, $mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}
