$font-size-primary: 14px;
$font-size-header-text: 30px;
$font-size-title-1: 14px;
$font-size-title-2: 12px;
$font-size-menu-list: 12px;
$font-size-prices-input: 12px;

$color-primary: #333;
$color-white: #fff;
$color-black: #000;
$color-header-input: #ffbe61;
$color-product-type: #a2a2a2;
$color-product-rating: #fbae00;
$color-result-top-left: #777;
$color-pagination-bg: #eee;
$color-title-1: #888;
$color-ratings: orange;
